
.logoutIcon, .logout{
    cursor: pointer;
}


/*styling for the side nav*/
.IconDiv{
    padding: 2px;
/*
    padding-right: 5px;
    padding-left: 5px;
*/
    width: 63px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.1);
    background-color: white;
    font-weight: 700;
}

.ActiveTab{
    background-color: green;
    color: white;
}

.sidenavFunctions{
    width: 100px!important;
    background-color: white!important;
    margin-top: 200px;
    visibility: visible!important;
    opacity: 1!important;
    padding: 20px!important;
    height: 290px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.bottomMenu{
  margin-right: 10px;
}


.removeQuiz{
    cursor:pointer;
}









/*Quiz style*/

#addQuiz{
    padding: 30px;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 4px;
}

#hideQuizFormButton{
    cursor: pointer;
}







.lessInfo, .moreInfo{
    padding-top: 0px;
    cursor: pointer;
}



.full-width{
  padding-left: 15px;
}



.cardAction{
        margin-top: 10px;
    margin-bottom: 10px;
    }

    .eventDate, .eventDuration, .eventType, .register, .moreInfo, .downloadBrochure, .eventDownloadLink, .eventGallery, .lessInfo {
        margin: 4px;
        font-size: 10px;
        font-weight: 500;
    }
    .contentButton{
    }
    .viewMore-quiz{
        
        letter-spacing: -0.003em;
       line-height: 20px;
       margin-top: 2em;
       font-size: 18px;
       margin-bottom: -0.46em;
       font-family: 'Lora',serif;
       letter-spacing: -0.004em;
       word-break: break-word;
       color: rgba(41, 41, 41, 1);
       font-weight: 400;
       display: block;
       margin-block-start: 1em;
       margin-block-end: 1em;
       margin-inline-start: 0px;
       margin-inline-end: 0px;
       word-wrap: break-word;
        margin-bottom: -20px;
        
    }
    .register-button, .leaderboardButton {
        font-size: 10px;
        font-weight: 600;
        border: 1px solid rgba(0, 0, 0, .3);
        padding:8px 22px 8px 22px;
        border-radius: 25px;
        cursor: pointer;
    }
    
.QuizCard{
    border-radius: 4px!important;
    padding: 10px!important;
    width: 106%!important;
    margin-left: -3%!important;
    border: 1px solid rgba(0,0,0,.1);
    margin-bottom: 10px;
    
}
    .image-card{
         width: 100%;
        height: 100px
    }
    .quizImage{
        width: 100%;
        height: 100px;
    }
    .quizHeading{
    letter-spacing: 0;
    max-height: 40px;
    line-height: 20px;
    letter-spacing: 0;
    font-size: 20px;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 700;
    color: rgba(41, 41, 41, 1);
    font-family: sohne,
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

}
.content{
     max-height: 20px;
      display: -webkit-box;
      text-overflow: ellipsis;
      overflow: hidden;
      color: rgba(117, 117, 117, 1);
      font-size: 13px;
      line-height: 20px;
      font-family: sohne,
      "Helvetica Neue",
      Helvetica,
      Arial,
      sans-serif;
      font-weight: 400;
      display: block;
/*      font-size: 1.17em;*/
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;    
}
.fullContent{
       letter-spacing: -0.003em;
       line-height: 25px;
       margin-top: 2em;
       font-size: 15px;
       margin-bottom: -0.46em;
       font-family: charter,
       Georgia,
       Cambria,
       "Times New Roman",
       Times,
       serif;
       letter-spacing: -0.004em;
       line-height: 1.55;
       font-style: normal;
       word-break: break-word;
       color: rgba(41, 41, 41, 1);
       font-weight: 400;
       display: block;
       margin-block-start: 1em;
       margin-block-end: 1em;
       margin-inline-start: 0px;
       margin-inline-end: 0px;
       word-wrap: break-word;

       font-family: medium-content-sans-serif-font,
       -apple-system,
       BlinkMacSystemFont,
       "Segoe UI",
       Roboto,
       Oxygen,
       Ubuntu,
       Cantarell,
       "Open Sans",
       "Helvetica Neue",
       sans-serif;
}
    
   
    
    .cardImageSmall {
        width: 100%;
        height: 100px;
    }

    .imageCardSmall {
        width: 100%;
        height: 100px
    }

    #metmassLogo {
        width: 100px;
        margin-top: -20px;
        height: 75px;
    }

    #showMore {
        margin-top: -30px;
        border: 1px solid rgba(0, 0, 0, .3);
        border-radius: 4px;
        padding: 10px;
        width: 108%;
        margin-left: -4%;
    } 
 .moreTabs{
   background-color: white;
    padding: 20px!important;
    border: 1px solid rgba(0,0,0,.2); 
    border-radius: 4px;
    width: 90%!important;
    position: relative;
     margin-right: 30px;
     
    
}
    .moreTabsSmall{
        padding: 20px;
        display: inline-block;
    }
    .moreTabsSmallContainer{
        display: block;
    }
    
    .eventsButton,.articlesButton, .quizButton {
    font-size: 12px;
    font-weight: 600;
   border: 1px solid rgba(0,0,0,.3);
  padding: 10px 25px 10px 25px;
    border-radius: 25px;
}




















































.outerCard{
    padding: 10px!important;
    border: 1px solid rgba(0,0,0,.1)!important;
    border-radius: 4px;
    margin-bottom: 5px;
}
.innderCard{
    padding: 10px;
}

.cardImage{
   
}
.imageCard{
    height: 170px;
    width: 100%;
/*
    width: 200px;
    aspect-ratio: auto 200 / 134;
    height: 134px
*/
    
}


.Card{
    padding: 20px;
    
}
#showMore{
    margin-top: -30px;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 4px;
    padding: 10px;
    width: 106%;
    margin-left: -3%;
}

.btn{
    text-decoration: none!important;
}
.openSource{
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 8px;
    padding: 5px;
}
.Title{
    font-size: 18px;
}

.Badge{
    position: absolute;
    margin-top: -5px;
    margin-left: -4px!important;
}
.Badge2{
    position: absolute;
}
.viewMore{
    width: 120%;
    margin-left: -10%;
   
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 12px;
}
.viewLess{
    margin-top: -10px;
    margin-right: 5px;
}

.viewLess1{
    margin-top: -40px;
    margin-right: -5px!important;
}

.quizImage{
    height: 135px;
    border-bottom: 1px solid rgba(0,0,0,.1)
}
.card-content{
    margin-top: -15px;
    padding: 5px;
}

.quizHeading{
   
}

.starton{
    opacity: .5;
    font-size: 12px;
}
.startingTime{
    opacity: .8;
    font-size: 15px;
}

.mainTabs{
    background-color: #ff6000;
}

#adminCard{
   

}
.footerAbout,.footerContact,.footerConnect{
    margin: auto;
    font-family: sans-serif;
}
#Navbar{
    background-color: #02203c;
}
.footerLl{
   color:#626ee3;
    font-family:sans-serif;
   
}
#metmassLogo{
    width: 120px;
    height:85px;
    margin-top: -21px;
    margin-left: 10px;
    overflow:hidden;
     }




.cardTitle{
     color: #39424e;
    font-weight:700;
    font-family:sans-serif;
    text-decoration: none;
    background-color: transparent;
    font-size: 20px;
     }

tbody {
  display:block;
  height:300px;
  overflow:auto;
}
thead, tbody tr {
  display:table;
  width:100%;
  table-layout:fixed;
}
thead {
  width: calc( 100% - 1em )
}
table {
  width:100%;
}
      

.material-icons{
    display: inline-flex;
    vertical-align: top;
}




h5{
    color: black;
    font-family: sans-serif;
    margin-left: 35%;
}
#profileFile{
    margin: 10px;
}
#percentUploaded{
color: indigo;
    font-family: sans-serif;
}
#profile-image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 10px 30px 1px rgba(0 0 0/30%);
}
#cardContent{
    font: normal;
    font-family: sans-serif;
    color: indigo;
}
.container1{
    
    width: 100%;
    text-align: center;
}


h1{
    font-weight: normal;
    font-size: 30px;
    position: relative;
    margin-top: 0px;
    margin-bottom:-50px;
   
}
h3{
    font-weight: normal;
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: -40px;
    position: relative;
   
}

body
{
font-family: sohne,
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
    background-color: #f3f7f7;
}


.smallCard{
    display: none;
}
.largeCard{
    display: block;
}


.cardAction1{
    margin-bottom: -20px;
}




.title{
    letter-spacing: 0;
    max-height: 56px;
    line-height: 28px;
    letter-spacing: 0;
    max-height: 56px;
    line-height: 28px;
    font-size: 22px;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 700;
    color: rgba(41, 41, 41, 1);
    font-family: sohne,
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

}
a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}
body {
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: rgba(0,0,0,0.8);
    position: relative;
    min-height: 100vh;
}
.content{
     max-height: 40px;
      display: -webkit-box;
      text-overflow: ellipsis;
      overflow: hidden;
      color: rgba(117, 117, 117, 1);
      font-size: 16px;
      line-height: 20px;
      font-family: sohne,
      "Helvetica Neue",
      Helvetica,
      Arial,
      sans-serif;
      font-weight: 400;
      display: block;
/*      font-size: 1.17em;*/
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;    
}
.fullContent{
       letter-spacing: -0.003em;
       line-height: 32px;
       margin-top: 2em;
       font-size: 20px;
       margin-bottom: -0.46em;
       font-family: charter,
       Georgia,
       Cambria,
       "Times New Roman",
       Times,
       serif;
       letter-spacing: -0.004em;
       line-height: 1.58;
       font-style: normal;
       word-break: break-word;
       color: rgba(41, 41, 41, 1);
       font-weight: 400;
       display: block;
       margin-block-start: 1em;
       margin-block-end: 1em;
       margin-inline-start: 0px;
       margin-inline-end: 0px;
       word-wrap: break-word;

       font-family: medium-content-sans-serif-font,
       -apple-system,
       BlinkMacSystemFont,
       "Segoe UI",
       Roboto,
       Oxygen,
       Ubuntu,
       Cantarell,
       "Open Sans",
       "Helvetica Neue",
       sans-serif;
}

.eventDate{
   color: rgba(117, 117, 117, 1);
    font-size: 13px;
    line-height: 20px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    white-space: nowrap;
    margin: 5px;

}
.eventDuration{
     color: rgba(117, 117, 117, 1);
    font-size: 13px;
    line-height: 20px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    white-space: nowrap;
    margin: 5px;
}
.eventType{
   background-color: rgba(242, 242, 242, 1);
    margin: 10px;
    color: rgba(117, 117, 117, 1);
    font-size: 13px;
    transition: background 300ms ease 0s;
    border-radius: 100px;
    padding: 5px 10px;
    white-space: nowrap;
}
.register{
    margin: 10px;
    color: blue;
    font-weight: 600;
    text-decoration: underline;
    opacity: .2;
}
.moreInfo{
    color: rgba(117, 117, 117, 1);
    font-size: 13px;
    line-height: 20px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    white-space: nowrap;
    margin: 15px;
}

.ss{
    background-color: green;
    border-radius: 50px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 8px;
    padding-top: 5px;
    font-weight: 600;
    font-size: 15px;
    
}
.downloadBrochure{
    color: rgba(117, 117, 117, 1);
    font-size: 13px;
    line-height: 20px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    white-space: nowrap;
    margin: 5px;
}
.eventDownloadLink{
    color: rgba(117, 117, 117, 1);
    font-size: 13px;
    line-height: 20px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    white-space: nowrap;
    margin: 5px;
}
.eventGallery{
    color: rgba(117, 117, 117, 1);
    font-size: 13px;
    line-height: 20px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    white-space: nowrap;
    margin: 5px;
}
.lessInfo{
    color: rgba(117, 117, 117, 1);
    font-size: 13px;
    line-height: 20px;
    font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    white-space: nowrap;
    margin: 15px;
}
.tab{
    font-weight:400 ;
    font-family: medium-content-sans-serif-font,
       -apple-system,
       BlinkMacSystemFont,
       "Segoe UI",
       Roboto,
       Oxygen,
       Ubuntu,
       Cantarell,
       "Open Sans",
       "Helvetica Neue",
       sans-serif;
}

#outer-content{
  transition-duration: 5s;
  transition-delay: 2s;
}

.moreTabs{
   background-color: white;
    padding: 20px!important;
    border: 1px solid rgba(0,0,0,.2); 
    width: 17%!important;
    border-radius: 4px;
    position: fixed;
    right: 15%!important;
    margin-top: 5px!important;
    
}
.eventsButton,.articlesButton, .quizButton {
    font-size: 20px;
    font-weight: 600;
   border: 1px solid rgba(0,0,0,.3);
  padding: 10px 30px 10px 30px;
    border-radius: 25px;
}

.loggedIn, .loggedOut, .loggedInOut{ 
     font-weight:400 ;
    font-family: medium-content-sans-serif-font,
       -apple-system,
       BlinkMacSystemFont,
       "Segoe UI",
       Roboto,
       Oxygen,
       Ubuntu,
       Cantarell,
       "Open Sans",
       "Helvetica Neue",
       sans-serif;
}














@media only screen and (max-width: 1250px) {
.smallCard{
    display: block;
}
.largeCard{
    
}
    .moreTabs{
   background-color: white;
    padding: 20px!important;
    border: 1px solid rgba(0,0,0,.2); 
    border-radius: 4px;
    width: 20%!important;
    right: 8%!important;
    
}
    .eventsButton,.articlesButton, .quizButton {
    font-size: 15px;
    font-weight: 600;
   border: 1px solid rgba(0,0,0,.3);
  padding: 10px 30px 10px 30px;
    border-radius: 25px;
}
    .outerCard{
    border: 1px solid rgba(0,0,0,.1)!important;
    border-radius: 4px;
    padding: 0px;
}
    
.innderCard{
    margin-top: 100px;
}

.cardImage{
width: 100%;
    height: 180px;
}
.imageCard{
    width: 100%;
    height: 180px
}
    .cardStacked{
        padding: 15px;
    }

}



.cardImageSmall {
        width: 100%;
        height: 180px;
    }

    .imageCardSmall {
        width: 100%;
        height: 180px
    }



.moreTabsSmallContainer{
display: none;
}
.Quiz{
    border-radius: 4px!important;
    padding: 5px;
    
}

.profilePhoto{
    background-image: url('https://lh3.googleusercontent.com/a/AATXAJzYnCLMysTa71lEWprLyio1N66MH0oExCdP8ukT=s96-c');
    height: 32px;
    width: 32px;
   display: inline-block;
    background-size: 100% 100%;
    border-radius: 50%;
    border: 2px white solid;
   
}
.authorSection{
    margin-top: -10px;
    margin-bottom: -5px;
}
.authorName{
    display: inline-block;
    font-size: 13px;
    font-family: sohne,
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
    line-height:16px;
    font-weight: 500;
    color: rgba(41,41,41,1);
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    letter-spacing: inherit;
    text-rendering: optimizeLegibility;
    
}

@media only screen and (max-width: 800px){
    .cardAction{
        margin-top: 10px;
    }
    .eventDate, .eventDuration, .eventType, .register, .moreInfo, .downloadBrochure, .eventDownloadLink, .eventGallery, .lessInfo {
        margin: 4px;
        font-size: 10px;
        font-weight: 500;
    }
    .contentButton{
    }
    .viewMore-quiz{
        
        letter-spacing: -0.003em;
       line-height: 20px;
       margin-top: 2em;
       font-size: 18px;
       margin-bottom: -0.46em;
       font-family: 'Lora',serif;
       letter-spacing: -0.004em;
       word-break: break-word;
       color: rgba(41, 41, 41, 1);
       font-weight: 400;
       display: block;
       margin-block-start: 1em;
       margin-block-end: 1em;
       margin-inline-start: 0px;
       margin-inline-end: 0px;
       word-wrap: break-word;
        
    }
    .register-button, .leaderboardButton {
        font-size: 10px;
        font-weight: 600;
        border: 1px solid rgba(0, 0, 0, .3);
        padding:8px 22px 8px 22px;
        border-radius: 25px;
    }
    
.QuizCard{
    border-radius: 4px!important;
    padding: 5px!important;
    width: 106%!important;
    margin-left: -3%!important;
    border: 1px solid rgba(0,0,0,.1);
    margin-bottom: 5px;
    
}
    .image-card{
         width: 100%;
        height: 100px
    }
    .quizImage{
        width: 100%;
        height: 100px;
    }
    .quizHeading{
    letter-spacing: 0;
    max-height: 40px;
    line-height: 20px;
    letter-spacing: 0;
    font-size: 20px;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 700;
    color: rgba(41, 41, 41, 1);
    font-family: sohne,
    "Helvetica Neue",
    Helvetica,
    Arial,
    sans-serif;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;

}
.content{
     max-height: 20px;
      display: -webkit-box;
      text-overflow: ellipsis;
      overflow: hidden;
      color: rgba(117, 117, 117, 1);
      font-size: 13px;
      line-height: 20px;
      font-family: sohne,
      "Helvetica Neue",
      Helvetica,
      Arial,
      sans-serif;
      font-weight: 400;
      display: block;
/*      font-size: 1.17em;*/
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      font-weight: bold;    
}
.fullContent{
       letter-spacing: -0.003em;
       line-height: 25px;
       margin-top: 2em;
       font-size: 15px;
       margin-bottom: -0.46em;
       font-family: charter,
       Georgia,
       Cambria,
       "Times New Roman",
       Times,
       serif;
       letter-spacing: -0.004em;
       line-height: 1.55;
       font-style: normal;
       word-break: break-word;
       color: rgba(41, 41, 41, 1);
       font-weight: 400;
       display: block;
       margin-block-start: 1em;
       margin-block-end: 1em;
       margin-inline-start: 0px;
       margin-inline-end: 0px;
       word-wrap: break-word;

       font-family: medium-content-sans-serif-font,
       -apple-system,
       BlinkMacSystemFont,
       "Segoe UI",
       Roboto,
       Oxygen,
       Ubuntu,
       Cantarell,
       "Open Sans",
       "Helvetica Neue",
       sans-serif;
}
    
   
    
    .cardImageSmall {
        width: 100%;
        height: 100px;
    }

    .imageCardSmall {
        width: 100%;
        height: 100px
    }

    #metmassLogo {
        width: 100px;
        margin-top: -20px;
        height: 75px;
    }

    #showMore {
        margin-top: -30px;
        border: 1px solid rgba(0, 0, 0, .3);
        border-radius: 4px;
        padding: 10px;
        width: 108%;
        margin-left: -4%;
    } 
 .moreTabs{
   background-color: white;
    padding: 20px!important;
    border: 1px solid rgba(0,0,0,.2); 
    border-radius: 4px;
    width: 90%!important;
    position: relative;
     display: none;
    
}
    .moreTabsSmall{
        padding: 20px;
        display: inline-block;
    }
    .moreTabsSmallContainer{
        display: block;
    }
    
    .eventsButton,.articlesButton, .quizButton {
    font-size: 12px;
    font-weight: 600;
   border: 1px solid rgba(0,0,0,.3);
  padding: 10px 25px 10px 25px;
    border-radius: 25px;
}
.full-width{
  padding-left: 0px;
}



}


   

